/*
div.interpretter

   div.input
      div.input-item

   div.execution

   div.execution

   div.palette
      div.functions
         button.function
      div.values
         button.value

   div.info
*/

h1, h2, h3 {
  margin: 0;
  margin-bottom: 0.2em;
  font-family: "Calibri", sans-serif;
}
p { margin-top: 0.3em; margin-bottom: 0.3em; }

h2 { font-size: 18; }
h3 { font-size: 14; }

.box {
  border: 1px solid darkgrey;
  background-color: lightgrey;
  /*overflow: hidden;*/
}
.item, #functions > div {
  border: thin solid darkgrey;
  background-color: lightgrey;
  display: table-cell;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin: 0.1em;
  float: left;
}
.row {
  float: left;
  clear: left;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border: thin dashed dodgerblue;
  width: 98%;
  padding: 0.1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.data {
  background-color: lightgreen;
}
.skip{
  background-color: #AAA;
}
.em, #highlighted {
  background-color: lightsalmon;
}

#data {
  height: 5cm;
  width: 5cm;
  float: left;
}

#program {
  float: left;
}

#program-input {
  background-color: pink;
  height: 2cm;
  width: 10cm;
}

#execution {
  height: 13cm;
  width: 10cm;
  background-color: lightblue;
}

#palette {
  float: left;
}

#functions {
  /* margin-top: -2cm; */
  width: 5cm;
  height: 6.5cm;
}
#information {
  width: 5cm;
  height: 8cm;
  background-color: #FCFCFC;
}

#aliases {
  width: 5cm;
  height: 9.5cm;
  float: left;
  margin-top: 5cm;
  margin-left: -5cm;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
